/*Пятая секция */
.order {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
    position: relative;
}

.order__name {
    text-align: center;
    font-size: 3rem;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 0.625rem;
}

.order__timer {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.order__product img {
    width: 200px;
}

.order__line {
    position: relative;
    height: 1px;
    width: 50px;
    border-bottom: 4px solid red;
    transform: rotate(-45deg);
    top: -2.125rem;

}

.order__part {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-around;
}

.order__cost {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
}

.order__cost-first {
    font-size: 1.25rem;
}

.order__cost-second {
    position: absolute;
    margin-top: 3.75rem;
    color: red;
    font-size: 1.75rem;
    animation-name: order__cost-second;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.order__cost-second:hover {
    animation: none;
}

.order__form {
    margin-top: 6.25rem;
}

.order__form input {
    border-radius: 3px;
    padding: 0.313rem;
    width: 450px;
    margin: 0.625rem;
}

.order__form p {
    position: absolute;
    margin-top: -0.25rem;
    right: 9.375rem;
    opacity: 1;
    font-size: 0.75rem;
    color: red;
    visibility: hidden;
}


.order__form button {
    margin-top: 0.313rem;
    margin-left: 0.625rem;
    width: 75px;
    font-size: 1.25rem;
}

@keyframes order__cost-second {
    0% {
        font-size: 1.25rem;
    }

    10% {
        font-size: 1.313rem;
    }

    20% {
        font-size: 1.375rem
    }

    30% {
        font-size: 1.438rem;
    }

    40% {
        font-size: 1.5rem;
    }

    50% {
        font-size: 1.563rem;
    }

    60% {
        font-size: 1.5rem;
    }
    70% {
        font-size: 1.438rem;
    }
    80% {
        font-size: 1.375rem;
    }
    90% {
        font-size: 1.313rem;
    }
    100% {
        font-size: 1.25rem;
    }
}    

@media screen and (min-width: 280px) and (max-width: 500px ){
    .order {
        margin-top: 12.5rem;
        margin-bottom: 12.5rem;
        position: relative;
    }
    
    .order__name {
        margin-left: 10rem;
        text-align: center;
        font-size: 3rem;
        font-family: 'Saira Condensed', sans-serif;
        letter-spacing: 0.625rem;
    }
    
    .order__timer {
        margin-left: 10rem;
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 600;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    
    .order__product img {
        margin-left: 10rem;
        width: 150px;
    }
    
    .order__line {
        position: relative;
        height: 1px;
        width: 50px;
        border-bottom: 4px solid red;
        transform: rotate(-45deg);
        top: -2.125rem;
    
    }
    
    .order__part {
        margin-top: 3.125rem;
        display: flex;
        justify-content: space-around;
    }
    
    .order__cost {
        margin-left: 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .order__cost-first {
        font-size: 1.25rem;
    }
    
    .order__cost-second {
        position: absolute;
        margin-top: 3.75rem;
        color: red;
        font-size: 1.75rem;
        animation-name: order__cost-second;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear
    }
    
    .order__cost-second:hover {
        animation: none;
    }
    
    .order__form {
        margin-top: 1.25rem;
        margin-left: 2.5rem;
    }
    
    .order__form input {
        border-radius: 3px;
        padding: 0.313rem;
        width: 450px;
        margin: 0.625rem;
    }
    
    .order__form p {
        position: absolute;
        margin-top: -0.25rem;
        right: 9.375rem;
        opacity: 1;
        font-size: 0.75rem;
        color: red;
        visibility: hidden;
    }
    
    
    .order__form button {
        margin-top: 0.313rem;
        margin-left: 0.625rem;
        width: 75px;
        font-size: 1.25rem;
    }
    
    @keyframes order__cost-second {
        0% {
            font-size: 1.25rem;
        }
    
        10% {
            font-size: 1.313rem;
        }
    
        20% {
            font-size: 1.375rem
        }
    
        30% {
            font-size: 1.438rem;
        }
    
        40% {
            font-size: 1.5rem;
        }
    
        50% {
            font-size: 1.563rem;
        }
    
        60% {
            font-size: 1.5rem;
        }
        70% {
            font-size: 1.438rem;
        }
        80% {
            font-size: 1.375rem;
        }
        90% {
            font-size: 1.313rem;
        }
        100% {
            font-size: 1.25rem;
        }
    }
}